.application {
}

.application__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card:not(:first-child) {
  margin-left: 30px;
}

.card__icon {
  background-color: var(--background-grey);
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
}

.card__header {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.17;
  color: var(--font-dark);
}

.card__text {
}
