.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--background-white);
}

.modal__title {
  font: Roboto;
  font-weight: 700;
  color: var(--font-black);
  font-size: 20px;
  line-height: 1.15%;
  margin-top: 40px;
  text-align: center;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background-white);
  border: 1px solid var(--shadow-black-ten);
  border-radius: 50%;
  cursor: pointer;
}

.modal__button-icon {
  display: inline-block;
  fill: currentColor;
}
