.nav {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list-item:not(:last-child) {
  margin-right: 46px;
}

.nav__link {
  color: var(--font-dark);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.25s var(--cubic-bazier);
  &:hover,
  &.focus,
  &:active {
    color: var(--brand-blue);
  }
}

.nav__link--active {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--brand-blue);
  }
}
