.slider {
  height: 400px;
  background: linear-gradient(
      var(--backgroung-dark-transparent),
      var(--backgroung-dark-transparent)
    ),
    url("./../images/mobile_header.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 50% 50%;
  background-size: auto 400px, cover;
  color: var(--font-light);
}

.slider__container {
  padding-bottom: 106px;
}

.slider__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 30px 0;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.slider__button {
  width: 200px;
  background-color: var(--background-grey);
  color: var(--font-dark);
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  font-family: inherit;
  display: block;
  padding: 11px 41px;
  border: none;
  border-radius: 4px;
  transition: color 0.25s var(--cubic-bazier),
    background-color 0.25s var(--cubic-bazier);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--brand-blue);
    color: var(--font-light);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .slider {
    background: linear-gradient(
        var(--backgroung-dark-transparent),
        var(--backgroung-dark-transparent)
      ),
      url("./../images/mobile_header@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%;
    background-size: auto 400px, cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slider {
    background: linear-gradient(
        var(--backgroung-dark-transparent),
        var(--backgroung-dark-transparent)
      ),
      url("./../images/tablet_header.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%;
    background-size: auto 400px, cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .slider {
      background: linear-gradient(
          var(--backgroung-dark-transparent),
          var(--backgroung-dark-transparent)
        ),
        url("./../images/tablet_header@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 50% 50%, 50% 50%;
      background-size: auto 400px, cover;
    }
  }
}

@media screen and (min-width: 1200px) {
  .slider {
    height: 600px;
    background: linear-gradient(
        var(--backgroung-dark-transparent),
        var(--backgroung-dark-transparent)
      ),
      url("./../images/header_desktop.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%;
    background-size: auto 600px, cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .slider {
      height: 600px;
      background: linear-gradient(
          var(--backgroung-dark-transparent),
          var(--backgroung-dark-transparent)
        ),
        url("./../images/header_desktop@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 50% 50%, 50% 50%;
      background-size: auto 600px, cover;
    }
  }

  .slider__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    padding: 106px 0 30px 0;
  }
}
