.team {
}

.team__header {
  font-size: 36px;
  line-height: 1.17;
  color: var(--font-dark);
  text-align: center;
}

.team__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.team-member-card {
  border: 1px solid var(--header-bottom-border);
  box-shadow: 0px 1px 3px var(--shadow-black-twelve),
    0px 1px 1px var(--shadow-black-fourteen),
    0px 2px 1px var(--shadow-black-twenty);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-white);
}

.team-member-card__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--font-dark);
  text-align: center;
  padding-top: 30px;
}

.team-member-card__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
  padding: 10px 0 16px;
}

.team-member-card__sm-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}
