.logo--indent {
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-right: 83px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo--block {
  display: block;
  margin-bottom: 20px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: var(--font-black);
  text-decoration: none;
}

.header--hidden {
  display: none;
}

.list {
  list-style-type: none;
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section--grey {
  background-color: var(--background-grey);
}

.container {
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
