.filter {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  border-start-end-radius: 4px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  background-color: var(--background-grey);
  color: var(--font-dark);
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  line-height: 1.63;
  cursor: pointer;
  font-family: inherit;
  display: block;
  padding: 6px 22px;
  transition: color 0.25s var(--cubic-bazier),
    background-color 0.25s var(--cubic-bazier),
    box-shadow 0.25s var(--cubic-bazier);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--brand-blue);
    color: var(--font-light);
  }
}
