:root {
  --brand-blue: #2196f3;
  --background-white: #ffffff;
  --background-grey: #f5f4fa;
  --background-dark: #2f303a;
  --background-dark-eighty: #2f303acc;
  --backgroung-dark-transparent: #2f303a66;
  --font-normal: #757575;
  --font-normal-modal: #75757580;
  --font-dark: #212121;
  --font-light: #ffffff;
  --font-black: #000000;
  --font-contact-footer: rgba(255, 255, 255, 0.6);
  --font-newsletter-footer: rgba(255, 255, 255, 0.3);
  --header-bottom-border: #ececec;
  --portfolio-photo-border: #eeeeee;
  --clients-border: #afb1b8;
  --sm-icon-color-footer: #44454e;
  --shadow-black-six: rgba(0, 0, 0, 0.06);
  --shadow-black-eight: rgba(0, 0, 0, 0.08);
  --shadow-black-ten: rgba(0, 0, 0, 0.1);
  --shadow-black-twelve: rgba(0, 0, 0, 0.12);
  --shadow-black-fourteen: rgba(0, 0, 0, 0.14);
  --shadow-black-sixteen: rgba(0, 0, 0, 0.16);
  --shadow-black-twenty: rgba(0, 0, 0, 0.2);
  --cubic-bazier: cubic-bezier(0.4, 0, 0.2, 1);
}
